@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body{
    background-image: url(image/swatch_roasted-chestnut__6072-83-.png);
}

h2{
    color:blanchedalmond;
    border-bottom: 1px solid blanchedalmond;
    text-align: center;
}

a{
    font-size:25px;
    text-decoration: none;
    color:bisque;
}
a:hover{
    color:burlywood;
}


/*CLASSES*/
.debut h1{
    color:blanchedalmond;
}

.fuite{
    float:right;
    position: relative;
    background-color:blanchedalmond;
    bottom: 310px;
    width: 600px;
    border-radius:5px;
    font-family: Architects Daughter, cursive;
}

#list{
    background-color: blanchedalmond;
    width: 300px;
    border-radius:5px;
    font-family: Architects Daughter, cursive;}

.acceuil{
    display:flex;
    justify-content: center;
    font-size:24px;

}

/*ID*/