body{
    background-image: url(image/back_second.jpg);
    background-size:cover;
}

 
h1{
    border-bottom: 2px solid brown;
    text-align:center;
    color:brown;
    text-transform: uppercase;
}
 
a{
    text-decoration: none;
}

/* ----- CLASSES */



/* Entete*/

.lien{
    text-align:center;
}

.lien a 
{
    
    font-size: 25px;
    border: 5px double;
    color:brown;
}

.paragraphe{
    position: relative;
    text-align: center;
    top:550px;
}


/* ------- Images de la page ------- */
.image{   
    text-align: center;
    position: relative;
    bottom: 100px;
}

/* Debut table de pourcentage*/

.stats h2{
    position: relative;
    display: flex;
    justify-content: center;
    top: 15px;
    color:brown;
    border-bottom: 1px solid brown;
}

div.tableau{
    display: flex;
    justify-content: center;
    position: relative;
    top:100px;
    font-size:60px;
}

 div.lien-stats{ 
    text-align:center;
    font-size:25px;
 }

 thead tr td{
     border:4px double brown;
 }

 .lien-stats a{
    color:brown;
    border-bottom:1px solid black;
 }
.stats tr{
    text-transform: bold;
    color:black;
    text-align: center;
    border: 4px double brown;
}
td{
    border:4px double brown;
    color:black;
    text-align:center;
}
 
 

 
/* Fin de la table*/